{% extends "base.html" %}


 {% block script %}
<script>

$(document).ready(function(){
    loadPostContainer("swiv-container")     
         
})


</script>
    {% endblock script %}

{% block content %}
<div class='row'>
    <div class='col-sm-3 col-xs-12'>
        <h1>{{ object.username }} </h1>
        <h6>followers: {{ object.followed_by.all.count}} </h6>
        <p><a class="ntn btn-link" href="{% url 'profiles:follow' username=object.username %}">{% if following %}unfollow{% else %} follow{% endif %}</a></p>

          <h1>following <small>{{ object.profile.get_following.count}}</small></h1>
                   {% for user in object.profile.get_following %}
                    <a href='/{{ user.username }}'>{{ user.username}}</a><br>
                        {% empty %}
                        <h6>Not following any users</h6>
         {% endfor %}
        

         <hr>
               <h1>followers</h1>
                   {% for profile in object.followed_by.all %}
                    <a href='/{{ profile.user.username }}'> {{profile.user.username}}</a><br>
                        {% empty %}
                        <h6>Not followed by any users</h6>
         {% endfor %}
 <hr>
       
                

    </div>
    <div class='col-sm-9 col-xs-12'>
         <h1>My Feeds</h1>
            <div id="swiv-container" data-url='/api/{{object.username}}/swivapp/'>
    
            </div>
            <a href="#" id="loadmore"> Load More</a>
             
    </div>
 </div>
 {% endblock content %}

